@import "tailwindcss";
@plugin "@tailwindcss/typography";

.monospace{
  font-family: 'Consolas', monospace !important;
}

.main {
    background: white;
    box-shadow: rgb(255, 255, 255) -1px -1px 0px 0px inset, rgb(128, 128, 128) 1px 1px 0px 0px inset, rgb(223, 223, 223) -2px -2px 0px 0px inset, rgb(10, 10, 10) 2px 2px 0px 0px inset;
    overflow-x: hidden;
    flex: 1;
    line-height: 1.5em;
    display: flex
;
    flex-direction: column;
}

*{
  //font-family: 'Tahoma', sans-serif !important;
  box-sizing: border-box;
}

body {
  background-image: url("/windows.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}